/* Global styles */

html, body {
    margin: 30px 0 0 0;
}

/* Header */

.navbar span.link {
    cursor:pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-weight: 400;
}
.navbar span.link:hover {
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover {
    background:none;   
    color:#333;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:white;
}
@media (min-width: 900px) {
    #headerwrap h1 {
        font-size:65px;
        font-weight:normal;
    }
    #headerwrap p {
        font-size:23px;
        font-weight:normal;
    }
}
#headerwrap {
    text-align:center;
}
#headerwrap p {
    color: white;
}

/* Footer */

footer#footer {
    margin-top:50px;
    background-color:#3498db;
    color:white;
}
footer#footer p {
    line-height:100px;
    margin:0;
}

.panel-title>a {
    /*color: #df691a;*/
}
.navbar, label, table, .table, .dropdown-menu>li>a {
    font-size: 14px;   
}
.cameras-edit .table>tbody>tr>td {
    line-height:32px;   
}
.cameras-edit table a, .table a {
    /*color: #df691a;  */ 
}
form .stream-prefix {
	line-height:42px;
}

/* index.hbs */

#features i {
 font-size:90px;   
}
#index #how {
    background-color:#5cb85c;   
    color:white;
}
#index #how blockquote {
    height:150px;
}
#index #how h4 {
    color:white;
}
#index #contact form #website {
    display:none;   
}

