<div class="container">
    {{#if saved}}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Your account has been saved
        </div>
    {{/if }}

    <div class="page-header">
        <h1>My Account</h1>
    </div>

    <div class="row">

        <div class="col-md-6">        
            <form>

                <div class="form-group">
                    <label for="company">Company</label>
                    {{input value=company id="company" placeholder="Company" class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{input type="email" value=email id="email" placeholder="Email" class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    {{input value=firstName id="firstName" placeholder="First Name" class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    {{input value=lastName id="lastName" placeholder="Last Name" class="form-control"}}
                </div>
                <button {{action 'save'}} class="btn btn-primary">Save</button>

            </form>
        </div>

    </div>
</div>