<div class="container cameras-edit">
    
    <div class="page-header">
        <h1>Manage Cameras {{#link-to 'cameras.new' class="btn btn-primary pull-right"}}New Camera{{/link-to}}</h1>
    </div>

    <div class="row">  
        <div class="col-md-12"> 
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Stream Key</th>
                        <th>Archives</th>
                        <th>Edit</th>
                        <th>View</th>
						<th>Delete</th>
                    </tr>

                    {{#each model}} 
					
						{{#if this.streamkey}}

							<tr>
								<td>{{this.name}}</td>
								<td>{{this.streamkey}}</td>
								<td>{{#link-to 'archives' this.streamkey}}Archives{{/link-to}}</td>
                                <td>{{#link-to 'camera.edit' this}}Edit{{/link-to}}</td>
								<td>{{#link-to 'camera' this}}View{{/link-to}}</td>
								<td><button {{action "delete" this}} class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						
						{{/if}}

                    {{/each}}   

                </table>
            </div>
        </div>
    </div>  
    
</div>