<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">            
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>

                <a class="navbar-brand" href="#">Stratus Vision CCTV</a>            
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a {{action 'scroll' 'features'}} href="/">Features</a></li>
                    <li><a {{action 'scroll' 'how'}} href="/">How it Works</a></li>
                    <li><a {{action 'scroll' 'contact'}} href="/">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}} 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>{{#link-to 'user.edit' currentUser}}Account{{/link-to}}</li>
                                <li>{{#link-to 'cameras.edit'}}Manage Cameras{{/link-to}}</li>
                                <li>{{#link-to 'cameras'}}View Cameras{{/link-to}}</li> 
                                <li role="presentation" class="divider"></li>
                                <li><span class="link" {{action 'logout' on="click" bubbles=false}}>Logout</span></li> 
                            </ul>
                        </li>
                    {{/if}}
                    {{#unless currentUser}}
                        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                    {{/unless}} 
                </ul>
            </div>
        </div>
    </nav>
    
    <!--[if lte IE9]>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
                </div>
            </div>
        </div>
    </div>
    <![endif]-->
    
    <div id="main">
                {{outlet}}
    </div>
    
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>-->
                    <p>&copy; 2014 Stratus Vision</p>
                </div>
            </div>
        </div>
    </footer>
</div>
