<div id="archive" class="container">
    <div class="page-header">
            <h1>View Archive</h1>
        </div>

    <div class="row">  

            <div class="col-md-10 col-md-offset-1"> 
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div {{bind-attr data-stream-key=model}} id="video" class="video"}}>
                            <a href="rtsp://stream.stratusvisioncctv.com/vod/mp4:{{model}}">Watch Live</a>
                        </div>
                    </div>
                </div>             
            </div>

    </div>   
</div>