<div id="archives" class="container">
    
    <div class="page-header">
        <h1>Archives for Stream: {{streamkey}}</h1>
    </div>

    <div class="row">  
        <div class="col-md-12"> 
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Date Archived</th>
                        <th>View</th>
                    </tr>

                    {{#each archives}} 

							<tr>
								<td>{{this.LastModified}}</td>
								<td>{{#link-to 'archive' this.Key}}View{{/link-to}}</td>
							</tr>

                    {{/each}}   

                </table>
            </div>
        </div>
    </div>  
    
</div>