<div class="container">
    <div class="page-header">
        <h1>Cameras {{#link-to 'cameras.new' class="btn btn-primary pull-right"}}New Camera{{/link-to}}</h1>
    </div>

    <div class="row">  

        {{#each model}} 

            <div class="col-md-4"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{#link-to 'camera' this.id}} {{this.name}} {{/link-to}} {{#link-to 'camera.edit' this class="pull-right"}}Edit{{/link-to}}</h3>
                    </div>
                    <div class="panel-body">
                        <div {{bind-attr id=this.id data-stream-key=this.streamkey}} class="video"}}>
                            <a href="rtsp://stream.stratusvisioncctv.com/live/{{this.streamkey}}">Watch Live</a>
                        </div>
                    </div>
                </div>             
            </div>

        {{/each}}    

    </div>    
</div>