<div class="container">
    <div class="page-header">
            <h1>View Camera</h1>
        </div>

    <div class="row">  

            <div class="col-md-10 col-md-offset-1"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{name}} {{#link-to 'camera.edit' this class="pull-right"}}Edit{{/link-to}}</h3>
                    </div>
                    <div class="panel-body">
                        <div {{bind-attr id=id data-stream-key=streamkey}} class="video"}}>
                            <a href="rtsp://stream.stratusvisioncctv.com/live/{{streamkey}}">Watch Live</a>
                        </div>
                    </div>
                </div>             
            </div>

    </div>   
</div>