<div id="index">
    
    <div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Real-time video monitoring</h1>	
                    <p>Using existing equipment, watch from anywhere on any device.</p>
				</div><!-- /col-lg-6 -->				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div id="features" class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Features</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<i class="fa fa-hdd-o"></i>
				<h4>Use existing equipment</h4>
				<p>Use the system you already have in place. No need to purchase any extra cameras.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-mobile"></i>
				<h4>Monitor from any device</h4>
				<p>Watch your security feeds from your phone, tablet, or computer. Watch from anywhere in the world.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-cloud"></i>
				<h4>Keep it in the cloud</h4>
				<p>There's no need for you to have a hard drive. We keep your video in the cloud for you.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<hr>
        <div class="container">
            <div class="row centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <h2>
                        Get started today! &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#contact" class="btn btn-warning btn-lg">Contact Us</a>
                    </h2>
                </div>
            </div><!-- /row -->
        </div>
    <hr>

    <div id="how">
        <div class="container">
            <div class="row mt centered">
                <h1>How it works</h1>
                
                <div class="col-lg-4">
                    <blockquote>
                        <h4>1. Install the software</h4>
                        <p>Streaming software can automatically find your cameras and make them available to Stratus Vision.</p>
                    </blockquote>
                </div><!--/col-lg-4 -->
                
                <div class="col-lg-4"> 
                    <blockquote>
                        <h4>2. Setup your account</h4>
                        <p>Enter your basic information to get your account ready to go.</p>
                    </blockquote>
                </div><!--/col-lg-4 -->
                
                <div class="col-lg-4">
                    <blockquote>
                        <h4>3. Start monitoring!</h4>
                        <p>You can now watch your cameras from any device, anywhere in the world. Archives are safely in the cloud.</p>
                    </blockquote>
                </div><!--/col-lg-4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
	
    <div id="contact">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-6 col-lg-offset-3">
                    <form role="form">
                        
                        <h1>Contact Us</h1>
                        <p>Interested? Want to join? Have a question? Get in touch.</p>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Email" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
                        </div> 
                        <div class=" form-group">
                            <input type="text" name="website" placeholder="website" id="website" class="form-control">
                            <button {{action 'sendMail'}} id="sendMail" class="btn btn-lg btn-warning pull-right">Send</button>
                            <div class="clearfix"></div>
                        </div>
                        
                        {{#if mailSuccess}}
                            <div class="alert alert-success">Thank you! We'll get back to you as soon as possible.</div>
                        {{/if}}
                        
                        {{#if mailError}}
                            <div class="alert alert-danger">Error sending message. Please refresh and try again.</div>
                        {{/if}}

                    </form>					
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    
</div>