<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="well">
                <form role="form">    
                    <fieldset>
                        {{loginMessage}}
                        <legend>Login</legend>
                        <div class="form-group">
                            {{input type="email" value=email id="email" placeholder="Email" class="form-control"}}
                        </div>
                        <div class="form-group">
                            {{input type="password" value=password id="password" placeholder="Password" class="form-control"}}
                        </div>
                        <button {{action 'login'}} class="btn btn-primary btn-block">Submit</button>                    

                    </fieldset>    
                </form>
            </div>
        </div>
    </div>
</div>