<h1>User</h1>
{{user}}
<table>
  {{#each model.fields}} 
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'user.edit' model}}Change{{/link-to}}