<div class="container">
    <div class="page-header">
        <h1>{{title}}</h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">        
            <form>

                <div class="form-group">
                    <label for="name">Name</label>
                    {{input value=name id="name" placeholder="Name" class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="streamkey">Stream Key</label>
					<div class="row">
						<div class="col-md-4">
							<div class="stream-prefix">{{currentUser.id}}_</div>
						</div>
						<div class="col-md-8">
							{{input value=streamkey id="streamkey" placeholder="Streamkey" class="form-control"}}
						</div>
					</div>                    
                </div>
                <button {{action 'save'}} class="btn btn-primary">{{actionTitle}}</button>

            </form>
        </div>
    </div>
</div>